<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="remoteServices"
             type="UpCheck.RemoteServicesSection"/>
  </configSections>
  <remoteServices>
    <add key="server1_sqlserveragent"
      serviceName="SQLSERVERAGENT"
         path="\\server\root\CIMV2"
         username=".\user"
         password="password"
         authority=""
         state="running"/>
    <add key="server1_sqlserveragent"
         serviceName="MSSQLSERVER"
         path="\\server\root\CIMV2"
         username=".\user"
         password="password"
         authority=""
         state="running"/>
  </remoteServices>
  <connectionStrings>
    <clear/>
    <add name="ASPState"
         connectionString="Data Source=.;Initial Catalog=ASPState;User ID=sa;Pwd=tester12"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.0"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="fileLogger"
             type="System.Diagnostics.TextWriterTraceListener"/>
      </listeners>
    </trace>
    <sources>
      <source name="Default"
              switchValue="All">
        <listeners>
          <add name="outfile"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="c:\temp\upcheck.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp"
                extension=".cs"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                warningLevel="4"
                compilerOptions="/d:TRACE">
        <providerOption name="CompilerVersion"
                        value="v4.0"/>
        <providerOption name="WarnAsError"
                        value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>